@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a Machine</h2>

<h4>Add a Machine to this Engineer: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Selete Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Engineer list", "Index")</p>