@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer</h4>

@using (BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName)
  @Html.LabelFor(model => model.HireDate)
  @Html.EditorFor(model => model.HireDate)
  @Html.LabelFor(model => model.EngineerLicense)
  @Html.EditorFor(model => model.EngineerLicense)

  <input type="submit" value="Add new Machine" class="btn btn-default" />
}

<p>@Html.ActionLink("See list of Engineers", "Index")</p>